# Terraform
*.tfstate
*.tfstate.*
.terraform/


# Secrets
*.tfvars
*.tfvars.json
.env
.env.*

# Node
node_modules
npm-debug.log

# Build outputs
dist/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/